@font-face {
    font-family: "Space Mono";
    font-weight: normal;
    src: url("./fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Space Mono";
    font-weight: bold;
    src: url("./fonts/SpaceMono-Bold.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-strong-cyan: hsl(172, 67%, 45%);
    
    --very-dark-cyan: hsl(183, 100%, 15%);
    --darker-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --lighter-grayish-cyan: hsl(189, 41%, 97%);

    --button-hover-light: rgba(159,232,223,255);

    --white: hsl(0, 0%, 100%);


    --space-mono: "Space Mono", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --input-font-size: 24px;
    --titled-area-font-size: 18px;

    font-size: 24px;


    --input-height: 56px;
    --input-bd-rad: 8px;
    --result-bd-rad: 16px;
    --app-ct-bd-rad: 20px;
    --app-bg-height: 150px;
    --line-height-normal: 1.6;
    --app-normal-gap: 30px;
    --app-small-gap: 15px;
    --transition-fast: .2s;
}

html {
    min-height: 100%;
}

body {
    font-family: var(--space-mono);
    font-size: 1rem;
    line-height: var(--line-height-normal);
    background: var(--white);
}

a {
    text-decoration: none;
}

input {
    border: 0;
    outline: none;
}

input:focus {
    border: 0;
    outline: none;
}

.app-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--app-bg-height) + var(--app-ct-bd-rad));

    background: var(--light-grayish-cyan);
}

.logo-container-c {
    position: relative;
    width: 100%;
    height: calc(var(--app-bg-height));
}

.logo-container-c > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.app-container {
    position: absolute;
    top: var(--app-bg-height);
    left: 0;
    width: 100%;

    background: var(--white);

    border-top-left-radius: var(--app-ct-bd-rad);
    border-top-right-radius: var(--app-ct-bd-rad);

    display: flex;
    flex-direction: column;
}

.gapped-flow-ac {
    padding: var(--app-normal-gap);
}

.gapped-flow-ac > * + * {
    margin-top: var(--app-normal-gap);
}

input.uniform {
    display: block;

    height: var(--input-height);
    border-radius: var(--input-bd-rad);

    text-align: right;
    padding: 0 20px;

    font-size: var(--input-font-size);
    font-family: var(--space-mono);
    font-weight: bold;

    background: var(--lighter-grayish-cyan);
    color: var(--very-dark-cyan);

    transition: box-shadow var(--transition-fast);
}

input.uniform:hover {
    box-shadow: 0 0 2px 2px var(--primary-strong-cyan);
}

input.uniform:focus {
    box-shadow: 0 0 2px 2px var(--primary-strong-cyan);
}


.titled-area {
    font-size: var(--titled-area-font-size);
    font-weight: bold;
    color: var(--darker-grayish-cyan);
}

.iconed-input-c {
    position: relative;
}

.iconed-input-c > img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20px;
    height: 20px;
}

.iconed-input-c > input {
    display: block;
    margin-top: var(--app-small-gap);
    width: 100%;
}

.iconed-input-c > input.uniform {
    padding: 0 20px 0 50px;
}


.mixed-a-input-ac {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mixed-a-input-ac > * {
    display: block;
    margin-top: var(--app-small-gap);
    width: calc(50% - var(--app-small-gap) * .5);
}

.mixed-a-input-ac > input::placeholder {
    color: var(--darker-grayish-cyan);
}

.mixed-a-input-ac > a {
    height: var(--input-height);
    line-height: var(--input-height);
    text-align: center;

    background: var(--very-dark-cyan);
    border-radius: var(--input-bd-rad);
    font-size: var(--input-font-size);
    
    color: var(--white);

    transition:
        color var(--transition-fast),
        background var(--transition-fast);
}

.mixed-a-input-ac > a:hover {
    background: var(--button-hover-light);
    color: var(--very-dark-cyan);
}

.mixed-a-input-ac > a:active {
    background: var(--button-hover-light);
    color: var(--very-dark-cyan);
}



/* TODO */

.result-box {
    background: var(--very-dark-cyan);
    border-radius: var(--result-bd-rad);
    font-weight: bold;
}

.result-box > a {
    display: block;
    height: var(--input-height);
    line-height: var(--input-height);
    text-align: center;
    font-weight: bold;
    color: var(--very-dark-cyan);
    background: var(--primary-strong-cyan);
    border-radius: var(--input-bd-rad);

    transition: background var(--transition-fast);
}

.result-box > a:hover {
    background: var(--button-hover-light);
}

.result-box h3 {
    color: var(--white);
    font-size: 18px;
}

.result-box p {
    color: var(--dark-grayish-cyan);
    font-size: 14px;
}
