.header {
    padding: 40px 40px 20px 40px;
    z-index: 1;
}

.logo-score-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #596A84;
    border-radius: 10px;
    padding: 14px;

    max-width: 700px;
    margin: auto;
}

.logo {
    margin-left: 6px;
    height: 64px;
}

.score-box {
    min-width: 80px;
    height: 80px;
    background-color: #F7F7F7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: .9;
    padding: 11px;
    color: #364bb3;
    font-size: 14px;
}

.score {
    font-size: 40px;
    color: #57536A;
}

@media (min-width: 800px) {
    .header {
        padding: 40px 40px 0px 40px;
    }
}