@font-face {
    font-family: Barlow;
    font-weight: normal;
    src: url("./fonts/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Barlow;
    font-weight: bold;
    src: url("./fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
}

:root {
    font-size: 16px;
    line-height: 1.6;

    --Barlow: Barlow, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    min-height: 100vh;
    font-family: var(--Barlow);
    background: radial-gradient(ellipse at top, hsl(214, 47%, 15%), hsl(237, 49%, 15%));
}